@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<Card>;

    @{
        ViewData["Title"] = "Card";
}
<div class="bg-light rounded-3">

    <h1 class="alert text-success text-center fw-bolder mt-3 rounded p-2">Card</h1>
    <div class="container">
        <div class="d-flex justify-content-end mb-1">
            <a asp-controller="Card" asp-action="Buy" class="btn btn-success toggle">
                <i class="fa fa-cart-plus cart" aria-hidden="true"></i> Purchases
            </a>
        </div>

        @if (!Model.Any())
        {
            <div class="container mt-2">
                <p class="alert alert-light text-muted h5 text-center">No item selected in fovourite . . !</p>
            </div>
        }
        <div class="row mt-3">
            @foreach (var (item, index) in Model.Select((value, i) => (value, i)))
            {
                <div class="col-md-6 rounded-3 mb-1 d-flex card_transformation">
                    <img style="height:165px" alt="Product" class="w-25 col-3 " src="@($"{FileSettings.imagePath}/{FileSettings.imageProduct}/{item.Products?.NameOfImage}")" />

                    <div class="container col-9 d-flex justify-content-between flex-column bg-white ">
                        <div class="fw-bold">
                            @(item.Products.Title.Length > 145 ? $"{item.Products.Title.Substring(0, 145)}..." : item.Products.Title)
                        </div>
                        <div class="h6 d-flex justify-content-between">
                            @*   <div class="font-weight-bold">@item.Products.Marka?.Name</div> *@
                            <div class="font-weight-bold">@item.Products.Size</div>
                            <div><span>Item: </span>@item.Products.Price$</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-inline-flex">

                                @for (var i = 0; i < @item.Products.Rate; i++)
                                {
                                    <i style="color:darkorange ; width:20px" class="fa fa-star "></i>
                                }
                            </div>
                            <div>
                                <a class="deleting text-decoration-none" href="javascript:;" data-id="@item.Id" title="Remove favourite..">
                                    <i style="color:forestgreen ; font-size:23px" class="fa fa-heart"></i>
                                </a>
                            </div>

                        </div>
                        <div class="mb-1 mt-2">
                            <div class="d-flex justify-content-between" asp-action="addBuyed" asp-controller="Card">

                                <input type="number"
                                       class="form-control ml-3 mount_Value@(index)"
                                       value="@item.mount" style="width: 90px; -moz-appearance: none"
                                       placeholder="Mount .." />

                                <div class="float-right">
                                    <a class="btn btn-primary card-link add_to_buy " href="javascript:;" data-id="@index&@item.ProductId">
                                        Add To Buy
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
   
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".buy").on("click", function () {
                var btn = $(this);

                $.ajax({
                    url: "/Card/addBuyed?Id=" + btn.data("id"),
                    success: function () {
                        alert("Added");
                    },
                    error: function () {
                        alert("Ther are Wrong");
                    }
                });
            });
            ////////////////////////
            $(".deleting").on("click", function () {
                var btn = $(this);

                var result = confirm("Are you sure to delete ?");
                if (result) {
                    $.ajax({
                        url: "/Card/DeleteFavourite/" + btn.data("id"),
                        success: function () {
                            btn.parents(".card_transformation").remove();
                        },
                        error: function () {
                            alert("Some thing is wrong");
                        }
                    })
                }
            });
            /////////////////////////
            $(".add_to_buy").click(function () {
                var idProduct = $(this).data("id");

                var result = idProduct.split('&');
                var classs = ".mount_Value" + result[0];

                var mount_Value = $(classs).val();

                var obj = {
                    ValueMount: mount_Value,
                    ProductId: result.pop(),
                };
                var result = confirm("Are you sure to Add to Buy ?");
                if (result) {
                    $.ajax({
                        url: "/Card/addBuyed",
                        type: "GET",
                        data: obj,
                        success: function () {
                            confirm("Added");
                        },
                        error: function () {
                            alert("Some thing is wrong");
                        }
                    })
                }

            });
        });
    </script>
}