@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<Card>;
    @{
        ViewData["Title"] = "Card";
}
<div>
    <h1 class="alert text-success text-center fw-bolder p-2">Card</h1>
    <div class="divCenter cartsofCart shadow-lg mt-4 p-3">
        <div>
            <a asp-controller="Card" asp-action="Buy" class="btn btn-success toggle">
                <i class="bi bi-handbag-fill" aria-hidden="true"></i> Purchases
            </a>
        </div>

        @if (!Model.Any())
        {
            <div class="container mt-3 shadow-lg">
                <p class="alert alert-light text-muted h5 text-center">No item selected in fovourite . . !</p>
            </div>
        }
        <div class="row mt-3">
            @foreach (var (item, index) in Model.Select((value, i) => (value, i)))
            {
                <div class="col-md-4 mb-2 cartDeleted">
                    <div class="d-flex cartsofCart shadow">
                        <img style="height:165px" alt="Product" class="w-25 col-3 " src="@($"{FileSettings.imagePath}/{FileSettings.imageProduct}/{item.Products?.NameOfImage}")" />
                        <div class="container col-9 d-flex justify-content-between flex-column fieldsOfCarts ">
                            <div class="fw-bold mt-2 text-break">
                                @(item.Products.Title.Length > 145 ? $"{item.Products.Title.Substring(0, 145)}..." : item.Products.Title)
                            </div>
                            <div class="h6 d-flex justify-content-between">
                                @*   <div class="font-weight-bold">@item.Products.Marka?.Name</div> *@
                                <div class="font-weight-bold">@item.Products.Size</div>
                                <div><span>Item: </span>@item.Products.Price$</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="d-inline-flex">
                                    @for (var i = 0; i < @item.Products.Rate; i++)
                                    {
                                        <i style="color:darkorange ; width:20px" class="bi bi-star-fill"></i>
                                    }
                                </div>
                                <div>
                                    <a class=" text-decoration-none deleting" href="javascript:;" data-id="@item.ProductId" title="Remove favourite..">
                                        <i style="color:forestgreen ; font-size:23px" class="bi bi-heart-fill"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="mb-1 mt-2">
                                <div class="d-flex justify-content-between" asp-action="addBuyed" asp-controller="Card">

                                    <input type="number"
                                           class="form-control ml-3 mount_Value@(index)"
                                           value="@item.mount" style="width: 90px; -moz-appearance: none"
                                           placeholder="Mount .." />

                                    <div class="float-right">
                                        <a class="btn btn-success card-link add_to_buy " href="javascript:;" data-id="@index&@item.ProductId">
                                            Add To Buy
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".buy").on("click", function () {
                var btn = $(this);

                $.ajax({
                    url: "/Card/addBuyed?Id=" + btn.data("id"),
                    success: function () {
                        alert("Added");
                    },
                    error: function () {
                        alert("Ther are Wrong");
                    }
                });
            });
            ////////////////////////
            $(".deleting").on("click", function () {
                var btn = $(this);
                    $.ajax({
                        url: "/Card/DeleteFavourite/" + btn.data("id"),
                        type: "GET",
                        success: function () {
                            btn.parents(".cartDeleted").remove();
                        },
                        error: function () {
                            alert("Some thing is wrong");
                        }
                    })
            });
            /////////////////////////
            $(".add_to_buy").click(function () {
                var idProduct = $(this).data("id");

                var result = idProduct.split('&');
                var classs = ".mount_Value" + result[0];

                var mount_Value = $(classs).val();

                var obj = {
                    ValueMount: mount_Value,
                    ProductId: result.pop(),
                };
                
                if (result) {
                    $.ajax({
                        url: "/Card/addBuyed",
                        type: "GET",
                        data: obj,
                        success: function () {
                            confirm("Added");
                        },
                        error: function () {
                            alert("Some thing is wrong");
                        }
                    })
                }
            });
        });
    </script>
}