@model CutomerRoles;
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Roles";
}

<div class="bg-light rounded-3">
    <h2 class="alert fw-bolder text-success text-center p-2">Customers</h2>
<div class="col-12 d-flex justify-content-between">
    <a class="btn btn-success " asp-area="Identity" asp-page="/Account/Register">Create</a>
    <form method="post" asp-action="Index" autocomplete="on" >
        <div class="d-flex">
            <input class="form-control" placeholder="Search . ." name="SearchCustomer" />
                <button type="submit" class="btn btn-success">Search @* <i class="fa fa-search"></i> *@</button>
        </div>
    </form>
    <form method="post" asp-action="Index" id="FormRole">
             <select class="form-control" id="selectValue" asp-for="Roles" asp-items="Model.identityRoles">
            <option value="0" class="align-middle">Roles</option>
             </select>
    </form>
</div>
    <div class="col-12 mt-3 container">
    @if (Model.applicationUsers ==null)
    {
        <div class="col-12 Notice">
            <p class="alert alert-warning h5 text-center">No User founded up till now ..!</p>
        </div>
    }
    @if (!Model.applicationUsers.Any())
    {
        <div class="col-12 Notice">
            <p class="alert alert-warning h5 text-center">No User founded up till now ..!</p>
        </div>
    }
    <table class="table border rounded">
        <thead>
                @{string styleThTable = "text-muted text-center";}
            <tr>
                <th class="@styleThTable">Name</th>
                    <th class="@styleThTable">Email</th>
                    <th class="@styleThTable">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.applicationUsers)
            {
                <tr>
                        <td class="@styleThTable">
                        @(String.IsNullOrEmpty(item.DisplayName.Trim()) ? item.UserName : item.DisplayName)
                     </td>
                        <td class="@styleThTable">@item.Email</td>
                  @*   <td><div style="width:100px ; height:70px; "></div>
                        <img alt="user" class="img-thumbnail" src="@($"{FileSettings.imagePath}/{FileSettings.imageUsers}/{item.NameOfImage}")" width="100" height="70" />
                    </td> *@
                        <td class="d-flex a_Modify_customer text-center">
                        <a asp-action="RoleUser" asp-route-id="@item.Id" class="btn btn-secondary mt-1">Role</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary mt-1 mx-1">Edit</a>
                        <a class="btn btn-danger deleting mt-1" href="javascript:;" data-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div style="position:fixed;  right:10px ; bottom:10px; z-index:1001; ">
      <a asp-controller="Customer" asp-action="Index" class="btn btn-success ">Refresh</a>
</div>
}
@section Scripts {
    <script>
        
        $(document).ready(function () {
            $("#selectValue").change(function () {
                var vall = $(this).val();
                $("#FormRole").submit();
            });

        $(".deleting").on("click", function () {
            var btn = $(this);
            var result = confirm("Are you sure to delete ?");
            if (result) {
                $.ajax({
                    url: "/Customer/Delete/" + btn.data("id"),
                    success: function (result) {
                        if (result == "empty") {
                            window.location.href = "/";
                        } else {
                        btn.parents("tr").fadeOut();
                        }
                    },
                    error: function () {
                    }
                })
            }
        });
        });

    </script>
}
