@model classificationsOfProducts;
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Roles";
}
<div class="mt-4">
    <h1 class="alert fw-bolder text-success text-center p-2">Products</h1>
    <div class="container divCenter cartsofCart shadow-lg p-3">
        <div class="mt-3 mb-2 d-flex justify-content-between">
            <div>
                <p class="h1 fw-bold text" style="color:#198754; text-shadow:2px 2px #ffaffa">Shoping E-Commerce</p>
            </div>
            <div>
                <button class="btn btn-outline-secondary btn_search mx-1">Shearch</button>
                <button class="btn btn-success btn_categorey mx-1 text-white">Categories</button>
            </div>
        </div>
        <div class="col-12 mb-2 mt-1 p-1 Categories ">
            <form method="post" asp-action="Index" asp-controller="Product" id="FormSelect" class="col-12 d-flex justify-content-between">
                <div class="col-4">
                    <select class="form-control dropDownList" id="AgeStagesId" asp-for="AgeStagesId" asp-items="@(new SelectList(Model.AgeStages,"Id","Name"));">
                        <option value="0">Age</option>
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-control dropDownList" id="HumanClassificationsId" asp-for="HumanClassificationsId" asp-items="@(new SelectList(Model.HumanClassifications,"Id","Name"));">
                        <option value="0">Human Type</option>
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-control dropDownList" id="ClothesClassificationsId" asp-for="ClothesClassificationsId" asp-items="@(new SelectList(Model.ClothesClassifications,"Id","Name"));">
                        <option value="0">Products</option>
                    </select>
                </div>
            </form>
        </div>



        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
                <div><a class="btn btn-success mb-1" asp-action="Create" asp-controller="Product">Create</a></div>
        }
        @if (!Model.Product.Any())
        {
            <div class="col-12 Notice mt-3 shadow-lg">
                <p class="alert alert-warning h5 text-center">No item founded up till now ..!</p>
            </div>
        }
 
        <div class="row mt-3">
            @foreach (var item in Model.Product)
            {
                <div class="col-md-6 mb-2 card_transformation deleteProduct">
                    <div class="d-flex cartsofCart shadow-lg">
                        <img alt="Product" style="height:165px" class="w-25 col-3" src="@($"{FileSettings.imagePath}/{FileSettings.imageProduct}/{item.NameOfImage}")" />
                        <div class="container col-9 d-flex justify-content-between flex-column fieldsOfCarts">
                            <div class="fw-bold mt-2 text-break">
                                @(item.Title.Length > 240 ? $"{item.Title.Substring(0, 240)}..." : item.Title)
                            </div>
                            <div class="h6 d-flex justify-content-between">
                                <div>
                                    @item.Marka.Name
                                </div>
                                <div>@item.Size</div>
                                <div>@item.Price$</div>
                            </div>
                            <div class="mb-1 d-flex justify-content-end">
                                <div class="d-inline-flex">
                                    <a asp-action="Edit" class="btn btn-secondary mt-1 mx-2" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-danger deleting mt-1" href="javascript:;" data-id="@item.Id">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            }
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".Categories").hide();
            $(".btn_search").hide();

            $("i").on("click", function () {
                $(this).toggleClass("fa-shield-heart");
            });
            $(".btn_categorey").click(function () {
                var innertext = $(this).text() == "Categories" ? "Close" : "Categories";
                $(this).text(innertext).toggleClass("btn-success").toggleClass("btn-danger");
                $(".btn_search").fadeToggle(200);
                $(".Categories").slideToggle(50);
            });
            $(".btn_search").click(function () {
                $(this).text("Category").toggleClass("btn-danger");
                $("#FormSelect").submit();
            });


            $(".deleting").on("click", function () {
                var btn = $(this);
                $.ajax({
                    url: "/Product/Delete/" + btn.data("id"),
                    success: function () {
                        btn.parents(".deleteProduct").remove();
                    },
                    error: function () {
                        alert("Some thing is wrong")
                    }
                })
            });
        })
    </script>
}
